<p>
  <%= link_to "New Article", new_article_path %>
</p>
<br>
<br>
<div>
  <p> <%= @articles.count  %> </p>
  <% @articles.each do |article| %>
    <p> <%#= article.id %> </p>
    <p> <%= article.name %> </p>
    <p> <%= link_to "View Article", article_path(article) %> </p>
  <% end %>
</div>